---
import '@fontsource/dancing-script';
import Banner from '../components/Banner.astro';
import Layout from '../layouts/Layout.astro';
import CalendarSection from '../components/CalendarSection.astro';

---

<Layout title="Nos casamos">
	<main class="bg-stone-100">
		<Banner couple="Diana & Roberto" image="../../public/bannerImg.jpeg"/>
		<CalendarSection/>
	</main>
</Layout>


