---
import Calendar from "./Calendar.astro";
---

<section class="flex flex-col justify-center py-4 w-full text-[#5c573e] text-center ">
    <h2 class="font-cursive text-[#5c573e] text-5xl py-4">Estás invitado !</h2>
    <p class="w-[65%] mx-auto text-lg font-medium">Queremos que seas parte de este momento tan especial</p>

    <Calendar/>

</section>