<div class="flex text-white justify-between mt-4 w-[90%] mx-auto font-bold text-sm">
    <div class="flex flex-col items-center w-20 ">
      <span class="flex items-center justify-center bg-[#b5aa9d] rounded-full w-10 h-10 text-2xl mb-1">0</span>
      <p class="text-[#5c573e] uppercase">Días</p>
    </div>
    <div class="flex flex-col items-center w-20 ">
      <span class="flex items-center justify-center bg-[#b5aa9d] rounded-full w-10 h-10 text-2xl mb-1">0</span>
      <p class="text-[#5c573e] uppercase">Horas</p>
    </div>
    <div class="flex flex-col items-center w-20 ">
      <span class="flex items-center justify-center bg-[#b5aa9d] rounded-full w-10 h-10 text-2xl mb-1">0</span>
      <p class="text-[#5c573e] uppercase">Minutos</p>
    </div>
    <div class="flex flex-col items-center w-20 ">
      <span class="flex items-center justify-center bg-[#b5aa9d] rounded-full w-10 h-10 text-2xl mb-1">0</span>
      <p class="text-[#5c573e] uppercase">Segundos</p>
    </div>
  </div>
  